#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512

# Use network installation
url --url="http://mirror.centos.org/centos/7/os/x86_64/" --proxy="http://10.1.0.171:3128"

# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --plaintext vagrant

# System timezone
user --groups=wheel --name=vagrant --password=$6$5wAtCd/KjrBXrWsK$SSHyAgFwM2Tqx5rYwPjZ2BB8NKDMFgT6rVNoRgCceeOesS767OD1xJ.WJVAubbgWFe6p3DVlecuGF/VsLRocO. --iscrypted --gecos="vagrant"
timezone Etc/UTC --isUtc

# System bootloader configuration
bootloader --location=mbr --boot-drive=sda

part / --grow --size 2000 --asprimary --fstype=xfs
part swap --size 3072

# Partition clearing information
clearpart --none --initlabel 

reboot

%packages
@core

%end

%post --log=/root/install-post.log

set -x
yum -y update

%end
