<%= javascript 'dashboard' %>
<% title _('Latest Events') %>
<%= title_actions dashboard_actions %>

<div class="row">
  <div align="center">

<iframe src="/kibana/app/kibana#/dashboard/Waratek-Dashboard?embed=true&_g=(refreshInterval:(display:'5%20seconds',pause:!f,section:1,value:5000),time:(from:now-15m,mode:quick,to:now))&_a=(filters:!(),options:(darkTheme:!f),panels:!((col:1,id:Waratek-Events,panelIndex:1,row:1,size_x:12,size_y:3,type:visualization),(col:1,id:Denied-events-by-category-chart,panelIndex:3,row:4,size_x:3,size_y:2,type:visualization),(col:4,id:Denied-events-by-category,panelIndex:4,row:4,size_x:3,size_y:2,type:visualization),(col:7,id:Allowed-events-by-category-chart,panelIndex:5,row:4,size_x:3,size_y:2,type:visualization),(col:10,id:Allowed-events-by-category,panelIndex:6,row:4,size_x:3,size_y:2,type:visualization),(col:1,columns:!(severity,rule_action,rule_category,rule_subcategory,host,rule_data),id:Waratek-All-Events,panelIndex:7,row:6,size_x:12,size_y:3,sort:!('@timestamp',desc),type:search)),query:(query_string:(analyze_wildcard:!t,query:'*')),title:'Waratek%20Dashboard',uiState:(P-1:(vis:(colors:(ALLOW:%23629E51,DENY:%23BF1B00))),P-3:(vis:(colors:(classlink:%23614D93,file:%230A50A1,network:%23E0752D,reflect:%23F2C96D,sqli:%23BF1B00,xss:%23614D93))),P-5:(vis:(colors:(classlink:%23614D93,file:%230A50A1,network:%23E0752D,reflect:%23F2C96D,sqli:%23BF1B00)))))" height="1024" width="100%" frameborder="0" style="overflow:hidden;height:1024;width:100%"></iframe>

  </div>

</div>
